#news_wrap {
    display: flex;
    flex-direction: column;
}

.news_area {
    width: 500px;
    height: 110px;
    border: 1px solid black;
}

.news_sub_area {
    display: flex;
}

.news_title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.news_summary {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2; 
    max-height: 2.4em; 
    white-space: normal; 
    margin: 10px 0 0 10px;

}



.news_img {
    width: 100px;
    max-height: 70px;
}

.news_date {
    font-size: 12px;
    bottom: 0;
    background-color: white;
    border-radius: 0 20px 20px 0;
    padding-right: 10px;
}